<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="directxtex_desktop_win10" version="2023.10.31.1" targetFramework="native" />
  <package id="Microsoft.Direct3D.D3D12" version="1.611.1" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.230706.1" targetFramework="native" />
</packages>